.item {
  display: flex;
  padding: 20px;
  border: 1px solid #e6d7e2;
  border-radius: 10px;
}
.item:not(:last-child) {
  margin-bottom: 8px;
}
.online {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;

  border-radius: 50%;
  background-color: green;
}
.offline {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;

  border-radius: 50%;
  background-color: red;
}
.avatar {
  margin-right: 10px;
}
.name {
  font-size: 16px;
  font-weight: 700;
}
